<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href= "/picture/weather.png">
        <link rel="stylesheet", href="/css/style.css">
    
    </head>
        <body>
           
           <div class="main-content">
            {{>header}} <!-- To render a partial -->
            <p>{{message}}</p> 
           </div>
            {{>footer}}
        </body>
    
</html>